<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/css/home.css")
    title El tesoro de yolanda
  body
    .wrap
      section.treasure
        .treasure__title
          h1.treasure__text ¿Puedes encontrar el tesoro de Yolanda?
        figure.treasure__map
          img(src="img/treasure_map.svg", alt="Mapa del tesoro").treasure__img#treasure__map
        p.treasure__p#treasure__output

    script(src="js/main.js")